{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            {% if error %}
                <article class="message is-danger">
                    <div class="message-body">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                </article>
            {% endif %}


            <div class="has-text-centered mb-5">
                <figure class="image is-inline-block is-128x128">
                    <img src="https://openmoji.org/data/color/svg/1F54A.svg">
                </figure>
                <h1 class="title">Bienvenue sur <span class="has-text-link">Zozio Inc.</span> !</h1>
                <h2 class="subtitle mt-1 is-italic"># TODO : Penser à mettre une super phrase d'accroche ici</h2>
            </div>

            <form action="{{ path('login') }}" method="post">
                <div class="field">
                    <label class="label" for="username">Identifiant :</label>
                    <div class="control">
                        <input type="text" class="input" id="username" name="_username" value="{{ last_username ?: 'sophiaw' }}"/>
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="password">Mot de passe :</label>
                    <div class="control">
                        <input type="password" class="input" id="password" name="_password" value="password"/>
                    </div>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" class="button is-link">Connexion</button>
                    </div>
                </div>
            </form>

        </div>
    </section>
{% endblock %}
